<div class="standard-form container">
  <h3>Log In</h3>
  <%= render partial: "partials/errors" %>
  <%= form_for(:session, url: login_path) do  |f| %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.submit "Log In", id: "btnLogin" %>
  <% end %>
</div>
