<section class="standard-form container">
  <%= render partial: "partials/errors"%>
  <%= form_for @user, :html => {:id => "signUpForm"}  do  |f| %>
    <h3>Sign Up</h3>
    <%= f.text_field :full_name, placeholder: "Full Name" %>
    <%= f.email_field :email, placeholder: "Email" %>
    <%= f.password_field :password, placeholder: "Password" %>
    <%= f.submit "Sign Up", :id => "btnSignup" %>
  <%end%>
</section>

<script type="text/javascript">

</script>
