<section class="padding-top container">
  <section class="manual-show">
      <h1 class="product-name"> <%=@product.name%></h1>
      <p class="product-title"> <%=@product.title%></p>
      <p class="product-model"> <%=@product.model%></p>


      <div class="bookmark">
        <%if current_user%>
          <% if bookmark?(params[:id]) %>
            <%= render "bookmarks/delete"%>
          <% else %>
            <%= render "bookmarks/new", locals: {product: @product}%>
          <%end%>
        <%end%>
      </div>

      <div class="product-info">
          <%if @product.image_url%>
            <div class="product-image">
              <img src= <%=@product.image_url%> alt="No Product Image Available">
            </div>
          <%end%>
          <h3>Product details:</h3>
        <p><%=@product.description%></p>
      </div>
      <br>
      <p>Scroll down for PDF assembly instructions & product reviews</p>
      <br>
        <iframe src="<%=@product.pdf_url%>"
          width="100%" height="800" >
          <p>Your browser does not support iframes.</p>
        </iframe>
      <div class="all-reviews-container">
        <%= render partial: "reviews/index", locals: {product: @product}%>
      </div>
      <div class="new-review-form">
        <%if current_user%>
          <%if review?(params[:id])%>
            <p class="product-info">Thanks for the review!</p>
          <%else%>
            <%= render partial: "reviews/new"%>
          <%end%>
        <%end%>
      </div>
  </section>
</section>
